<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${title}">Insert title here</title>
</head>
<body>
<div th:replace="~{block/header::headerA}"></div>
<h1 th:text="${title}">仮のタイトル</h1>
<p>満足度平均<span th:text="${average}"></span></p>
<table>
<tr>
	<th>id</th><th>年齢</th><th>満足度</th><th>コメント</th><th>datetime</th>
</tr>
<tr th:each="survey : ${surveyList}">
	<td th:text="${survey.id}"></td>
	<td th:text="${survey.age}"></td>
	<td th:text="${survey.satisfaction}"></td>
	<td th:text="${survey.comment}"></td>
	<td th:text="${survey.created}"></td>
</tr>
</table>
</body>
</html>